<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="demo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="nav">
        <button id="free">free</button>
        <h1>Online Code Editor(JQuery)</h1>
        <h5><i class="fa fa-signal" aria-hidden="true"></i>beginner</h5>
        <h5><i class="fa fa-clock-o" aria-hidden="true"></i>20 hours</h5>
        <h5>skills</h5>
        <span><p>html</p><p>CSS</p><p>JQuery</p><p>Web Development</p><p>Website hosting</p></span>
    </div>
    <div class="article">
        <p class="a">
            1<br>
            Create the <br>structural aspect<br> of a code editor <br>usinng HTML,CSS.
        </p>
        <p class="b">
            2<br>
            Implementation of <br>
            core functionalities<br>
            and other small<br>
            features using<br>
            JQuery.
        </p>
        <p class="c">3<br>
            Publish to Github<br>
            and host your<br>
            deployed code<br>
            editor.
        </p>
        
    </div>
    
<div class="v">
    View the project
</div>
<footer>

</footer>

</body>
</html>